
*{
    box-sizing: border-box;
}
 body
    {
        align-content: space-around;
        font-family:  Arial, Helvetica, sans-serif;
        background-color: black;
        background-image: url("https://wallpaperscraft.com/image/shards_stone_background_light_85542_1920x1080.jpg");
        background-position:auto;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }
#map
    {
        height: 20%;
        width: 10%;
        margin: 50;
    }
p  {
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: burlywood;
    
    }
ol  
    {
        position : relative;
        font-family: 'Times New Roman', Times, serif;
        color: skyblue;
        size: 10% 10%;
    }
#Facebook
{
    width: 50px;
    height: 50px;
}
#FacebookIcon 
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    range: 100%;
}
#GmailIcon
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    range: 100%;

}
#TwitterIcon
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    range: 100%;
    
}
label
{
    color: white;
    font-size: 20px;
}
button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.w3-animate-fading{
    animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}
}

.w3-animate-opacity{
    animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}
}

.w3-animate-top{
    position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}
}

.w3-animate-left{
    position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}
}

.w3-animate-right{
    position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
}

.w3-animate-bottom{
    position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}
}

.w3-animate-zoom {
    animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}
}

.w3-animate-input{
    transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important
}